#logo.col-sm-4
  .row
    .logo-panel
      = image_tag 'logo/logo_panel_01.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
      = image_tag 'logo/01.jpg', 'data-order' => 1, 'data-next' => 0
      = image_tag 'logo/02.jpg', 'data-order' => 2, 'data-next' => 0
      = image_tag 'logo/03.jpg', 'data-order' => 3, 'data-next' => 0
      = image_tag 'logo/04.jpg', 'data-order' => 4, 'data-next' => 0
    .logo-panel
      = image_tag 'logo/logo_panel_02.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
      = image_tag 'logo/05.jpg', 'data-order' => 1, 'data-next' => 0
      = image_tag 'logo/06.jpg', 'data-order' => 2, 'data-next' => 0
      = image_tag 'logo/07.jpg', 'data-order' => 3, 'data-next' => 0
      = image_tag 'logo/08.jpg', 'data-order' => 4, 'data-next' => 0
  .row
    .logo-panel
      = image_tag 'logo/logo_panel_03.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
      = image_tag 'logo/09.jpg', 'data-order' => 1, 'data-next' => 0
      = image_tag 'logo/10.jpg', 'data-order' => 2, 'data-next' => 0
      = image_tag 'logo/11.jpg', 'data-order' => 3, 'data-next' => 0
      = image_tag 'logo/12.jpg', 'data-order' => 4, 'data-next' => 0
    .logo-panel
      = image_tag 'logo/logo_panel_04.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
      = image_tag 'logo/13.jpg', 'data-order' => 1, 'data-next' => 0
      = image_tag 'logo/14.jpg', 'data-order' => 2, 'data-next' => 0
      = image_tag 'logo/15.jpg', 'data-order' => 3, 'data-next' => 0
      = image_tag 'logo/16.jpg', 'data-order' => 4, 'data-next' => 0