.text-center
	= link_to 'https://plus.google.com/u/0/117335093910289285488/posts' do
		%span.fa.fa-google-plus-square
	= link_to 'https://vimeo.com/user16286898' do
		%span.fa.fa-vimeo-square
	= link_to 'https://twitter.com/BSFF13' do
		%span.fa.fa-twitter
	= link_to 'https://www.facebook.com/TheBrokeStudentFilmFestival' do
		%span.fa.fa-facebook-square
	= link_to 'http://instagram.com/brokestudentfilmfest/' do
		%span.fa.fa-instagram
