#carousel-winners.carousel.slide{'data-ride'=>'carousel'}
  %ol.carousel-indicators
    %li.active{'data-target'=>'#carousel-winners', 'data-slide-to'=>'0'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'1'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'2'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'3'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'4'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'5'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'6'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'7'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'8'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'9'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'10'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'11'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'12'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'13'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'14'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'15'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'16'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'17'}
    %li{'data-target'=>'#carousel-winners', 'data-slide-to'=>'18'}

  %div.carousel-inner
    %div.item.active
      = image_tag 'carousel/1.png'
    %div.item
      = image_tag 'carousel/2.png'
    %div.item
      = image_tag 'carousel/3.png'
    %div.item
      = image_tag 'carousel/4.png'
    %div.item
      = image_tag 'carousel/5.png'
    %div.item
      = image_tag 'carousel/6.png'
    %div.item
      = image_tag 'carousel/7.png'
    %div.item
      = image_tag 'carousel/8.png'
    %div.item
      = image_tag 'carousel/9.png'
    %div.item
      = image_tag 'carousel/10.png'
    %div.item
      = image_tag 'carousel/11.png'
    %div.item
      = image_tag 'carousel/12.png'
    %div.item
      = image_tag 'carousel/13.png'
    %div.item
      = image_tag 'carousel/14.png'
    %div.item
      = image_tag 'carousel/15.png'
    %div.item
      = image_tag 'carousel/16.png'
    %div.item
      = image_tag 'carousel/17.png'
    %div.item
      = image_tag 'carousel/17.png'

  / %a.left.carousel-control{'href'=>'#carousel-winners', 'data-slide'=>'prev'}
  /   %span.glyphicon.glyphicon-chevron-left

  / %a.right.carousel-control{'href'=>'#carousel-winners', 'data-slide'=>'next'}
  /   %span.glyphicon.glyphicon-chevron-right

