3

.jumbotron
  .container

    #logo.col-sm-4
      .row
        .logo-panel
          = image_tag 'logo/logo_panel_01.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
          = image_tag 'logo/01.jpg', 'data-order' => 1, 'data-next' => 0
          = image_tag 'logo/02.jpg', 'data-order' => 2, 'data-next' => 0
          = image_tag 'logo/03.jpg', 'data-order' => 3, 'data-next' => 0
          = image_tag 'logo/04.jpg', 'data-order' => 4, 'data-next' => 0
        .logo-panel
          = image_tag 'logo/logo_panel_02.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
          = image_tag 'logo/05.jpg', 'data-order' => 1, 'data-next' => 0
          = image_tag 'logo/06.jpg', 'data-order' => 2, 'data-next' => 0
          = image_tag 'logo/07.jpg', 'data-order' => 3, 'data-next' => 0
          = image_tag 'logo/08.jpg', 'data-order' => 4, 'data-next' => 0
      .row
        .logo-panel
          = image_tag 'logo/logo_panel_03.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
          = image_tag 'logo/09.jpg', 'data-order' => 1, 'data-next' => 0
          = image_tag 'logo/10.jpg', 'data-order' => 2, 'data-next' => 0
          = image_tag 'logo/11.jpg', 'data-order' => 3, 'data-next' => 0
          = image_tag 'logo/12.jpg', 'data-order' => 4, 'data-next' => 0
        .logo-panel
          = image_tag 'logo/logo_panel_04.png', 'data-order' => 0, 'data-next' => 1, :class => 'active'
          = image_tag 'logo/13.jpg', 'data-order' => 1, 'data-next' => 0
          = image_tag 'logo/14.jpg', 'data-order' => 2, 'data-next' => 0
          = image_tag 'logo/15.jpg', 'data-order' => 3, 'data-next' => 0
          = image_tag 'logo/16.jpg', 'data-order' => 4, 'data-next' => 0

    .col-sm-7.col-sm-offset-1
      %h1
        Broke Student
        %br/
        Film Fesitval
        %br/
        %small April 4-6, 2014

      .row.cta
        %a.btn.btn-primary.btn-lg.col-sm-3{:href => '/register/'} Register
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/contribute/'} Contribute
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/films/'} Films
.container.content
  / %h2.text-center
  /   International Broke Student Film Fesitval 2014

  / %hr/

  .row
    .col-sm-8.main-content
      .lead
        %p
          %strong The Broke Student Film Festival
          was founded in 2012 as a place where aspiring filmmakers and storytellers can display their work and receive constructive feedback from industry professionals.
        %p
          There is no feeling quite like seeing something that you made displayed for the enjoyment of others, and no venue quite as breathtaking and as the silver screen. Most students never have the opportunity to sit in a dark theater, surrounded by their classmates and peers, and see a film that they poured their hearts and souls into receive it’s worldwide theatrical premiere. The goal and mission of
          %strong The Broke Student Film Festival
          is to inspire and encourage student filmmakers by giving them a safe, constructive, and glamorous forum to exhibit the fruits of all their hard work, passion and creativity.

      %hr/

      .winners
        = partial 'partials/winners_carousel'

      .fourteen
        %h3 14-Day Film Challenge
        %p
          %strong What do you think you can do in two weeks?
        %p Students from all over the world will compete to make the best possible team in only fourteen days. At the beginning of the challenge, the teams will be given a common theme to inspire their creative process.

        %p
          %strong The 14-Day Film Challenge
          is a fun and rewarding way to test and discover your creative and technical chops.
          = link_to 'Team sign-ups begin on January 1st!', '/fourteen-day/'




    .col-sm-4.right-rail
      .call-out.panel.panel-default
        .panel-heading
          %h3.panel-title Support IBSFF
        .panel-body
          %p
            %strong The Broke Student Film Festival
            does not exist to make money. We exist only to showcase great student films! It is only with your generous contributions and support that we can continue to improve and expand.
          %ul.list-inline.row
            %li.col-sm-3.col-sm-offset-1
              = link_to 'Sponsor', '/contribute/sponsor'
            %li.col-sm-3
              = link_to 'Donate', '/contribute/donate'
            %li.col-sm-3
              = link_to 'Volunteer', '/contribute/volunteer'
      .social
        = partial 'partials/social'

      .call-for-entries.panel.panel-default
        .panel-heading
          %h3.panel-title
            Call For Entries
        .panel-body
          %p
            Call for entries starts January 1st, 2014.
            %strong The Broke Student Film Festival
            will be featuring many different categories in 2014:
          %ul
            %li 14-Day Challenge
            %li Films in Exhibition
            %li The Inaugural IBSFF Student Films

          = link_to 'Click here to see what category is right for you!', '/categories/'

%footer
  .container
    .row
      .col-sm-3
        %h4 About the 2014 BSFF
        %ul.list-unstyled
          %li
            = link_to 'Something', '/some/thing'
          %li
            = link_to 'Something', '/some/thing'
          %li
            = link_to 'Something', '/some/thing'
      .col-sm-3
        %h4 14-Day Challenge
        %ul.list-unstyled
          %li About
          %li Application
          %li Rules
      .col-sm-3
        %h4 Support the IBSFF
        %ul.list-unstyled
          %li
            = link_to 'Contact', '/some/thing'
          %li
            = link_to 'About Us', '/some/thing'
          %li
            = link_to 'Past Winners', '/some/thing'
          %li
            = link_to 'Staff', '/some/thing'
      .col-sm-3
        %h4 About Us
        %ul.list-unstyled
          %li
            = link_to 'Contact', '/some/thing'
          %li
            = link_to 'About Us', '/some/thing'
          %li
            = link_to 'Past Winners', '/some/thing'
          %li
            = link_to 'Staff', '/some/thing'
    .row
      %h4.text-center Sponsored By
      %p Sponsor images...
    .row.colophon
      %p.text-center
        &copy; 2014 International Broke Student Film Festival
        /
        = link_to 'email: info@brokestudentfilmfestival.com', 'mailto: info@brokestudentfilmfestival'




