---
title: Broke Student Film Festival
layout: splash
published: true
---


.jumbotron
  .container

    = partial 'partials/logo_dynamic'

    .col-sm-7.col-sm-offset-1
      %h1
        The International
        %br/
        Broke Student
        %br/
        Film Fesitval
        %br/
        %small April 2, 2016

      .row.cta
        %a.btn.btn-primary.btn-lg.col-sm-3{:href => '/register/application/'} Register
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/contribute/'} Contribute
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/films/'} Films
.container.content

  .row
    .col-sm-8.main-content
      .lead
      
        %strong The IBSFF Returns for the Fourth Year to LTU
        %br/
        %p
          In 2016, the International Broke Student Film Festival is looking to bring together the absolute best in student filmmaking from around the work to celebrate our fifth year!
        %p
          You can be a part of the event.  Submit your student-made film projects to the Festival for FREE starting in mid-October.  Until then, take on our 14-day Film Challenge.  Register a team of student filmmakers by October 2nd and compete against other teams from around the world to make a masterpiece in only two weeks!
          
      %hr/

      .winners
        = partial 'partials/winners_carousel'

      .lead
        %p
          %strong The Broke Student Film Festival
          was founded in 2012 as a place where aspiring filmmakers and storytellers can display their work and receive constructive feedback from industry professionals.
        %p
          Lawrence Technological University in Southfield, Michigan has graciously hosted the Festival since the very start.  We thank Lawrence Tech for their amazing sponsorship and look forward to many more years of partnership.
        %p
          There is no feeling quite like seeing something that you made displayed for the enjoyment of others, and no venue quite as breathtaking as the silver screen. Most students never have the opportunity to sit in a dark theater, surrounded by their classmates and peers, and see a film that they poured their hearts and souls into receive its worldwide theatrical premiere. The goal and mission of
          %strong The Broke Student Film Festival
          is to inspire and encourage student filmmakers by giving them a safe, constructive, and glamorous forum to exhibit the fruits of all their hard work, passion and creativity.

      %hr/

      .volunteer
        %h3 We Need You!
        %p
          The
          %strong Broke Student Film Festival
          is only possible due to the army of volunteers that come together each year to create a successful event. Think you have what it takes to help make the dreams of student film makers come true?
          = link_to 'Sign up to volunteer!', '/contribute/volunteer'

      %hr/



    .col-sm-4.right-rail
      = partial 'partials/sidebar'

= partial 'partials/footer'
