---
title: Broke Student Film Festival
layout: splash
published: true
---

.jumbotron
  .container

    = partial 'partials/logo_dynamic'

    .col-sm-7.col-sm-offset-1
      %h1
        The International
        %br/
        Broke Student
        %br/
        Film Fesitval
        %br/
        %small April 25, 2015

      .row.cta
        %a.btn.btn-primary.btn-lg.col-sm-3{:href => '/register/application/'} Register
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/contribute/'} Contribute
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/films/'} Films
.container.content

  .row
    .col-sm-8.main-content
      .lead
	  
        The IBSFF Returns for the Fourth Year to LTU
        %br/
        %p
          The International Broke Student Film Festival is back, celebrating its fourth year showcasing
          amazing achievements by student filmmakers from around the world!
        %p
          In previous years, the International Broke Student Film Festival has drawn entries from colleges and universities all across the United States as well as from England, Greece, Bulgaria and India.  Over 100 films were submitted for the consideration of the Festival's selection committee last year alone!  Of those submissions, we were able to screen over 10 hours of inspiring student work to a packed house in Lawrence Technological University's Musburger Auditorium.
        %p
          In 2015, the Festival's Selection Committee will be working even harder to collect a comprehensive cross-section of student-made films from around the world.  However, this year the Festival will be limited to only 3 hours of juried programming.
        %p
          All films that are selected to participate in the Festival will be viewed and critiqued by a jury made up of video and film industry professionals from the Southeast Michigan area.  Awards and recognition will follow the presentation of the films, including the prestigious distinctions of Best Domestic Student Film and Best International Student Film.
        %p
          Please join us in celebrating talented student filmmakers from around the world at the 4th Annual International Broke Student Film Festival, hosted by Lawrence Technological University on Saturday, April 25, 2015.
          
        %p
          %strong The Broke Student Film Festival
          was founded in 2012 as a place where aspiring filmmakers and storytellers can display their work and receive constructive feedback from industry professionals.
        %p
          Lawrence Technological University in Southfield, Michigan has graciously hosted the Festival since the very start.  We thank Lawrence Tech for their amazing sponsorship and look forward to many more years of partnership.
        %p
          There is no feeling quite like seeing something that you made displayed for the enjoyment of others, and no venue quite as breathtaking as the silver screen. Most students never have the opportunity to sit in a dark theater, surrounded by their classmates and peers, and see a film that they poured their hearts and souls into receive its worldwide theatrical premiere. The goal and mission of
          %strong The Broke Student Film Festival
          is to inspire and encourage student filmmakers by giving them a safe, constructive, and glamorous forum to exhibit the fruits of all their hard work, passion and creativity.

      %hr/

      .winners
        = partial 'partials/winners_carousel'

      .fourteen
        %h3 14-Day Film Challenge
        %p
          %strong What do you think you can do in two weeks?
        %p Students from all over the world will compete to make the best possible team in only fourteen days. At the beginning of the challenge, the teams will be given a common theme to inspire their creative process.

        %p
          %strong The 14-Day Film Challenge
          is a fun and rewarding way to test and discover your creative and technical chops.
          = link_to 'Team sign-ups begin on January 1st!', '/fourteen/'

      %hr/

      .volunteer
        %h3 We Need You!
        %p
          The
          %strong Broke Student Film Festival
          is only possible due to the army of volunteers that come together each year to create a successful event. Think you have what it takes to help make the dreams of student film makers come true?
          = link_to 'Sign up to volunteer!', '/contribute/volunteer'

      %hr/

      .sponsor
        %h3 See Those Logos Down There?
        %p
          Those are the amazing groups that work with the
          %strong Broke Student Film Festival
          to create an amazing experience for student film makers and people who love cutting edge film.
        %p
          These groups get in place advertising during the festival and their logos displayed on the homepage all year.
          = link_to 'Sign up to sponsor!', '/contribute/sponsor'




    .col-sm-4.right-rail
      = partial 'partials/sidebar'

= partial 'partials/footer'
