---
title: Broke Student Film Festival
layout: splash
published: true
---

---
title: Broke Student Film Festival
layout: splash
published: true
---

.jumbotron
  .container

    = partial 'partials/logo_dynamic'

    .col-sm-7.col-sm-offset-1
      %h1
      	The International
        %br/
        Broke Student
        %br/
        Film Fesitval
        %br/
        %small April 4-6, 2014

      .row.cta
        %a.btn.btn-primary.btn-lg.col-sm-3{:href => '/register/application/'} Register
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/contribute/'} Contribute
        %a.btn.btn-primary.btn-lg.col-sm-3.col-sm-offset-1{:href => '/films/'} Films
.container.content

  .row
    .col-sm-8.main-content
      .lead
	  

        The BSFF 14-Day Filmmaking Challenge
        %br/
        %p








          The first ever Broke Student Film Festival 14-Day Challenge
          is off and running!  14 teams from around the world are busy working on short films based on 4 unknown parameters that they received during a live podcast with The Not-So-Cool Kids!
        %p

          The teams have to contend with a prop: Chop Sticks
          a line of dialogue: "What if tomorrow never comes?"
          a theme: The Next Big Thing
          and a film genre randomly selected from a list: Drama, Romance, Buddy Film, Dark Comedy, Thriller/Suspense, and Comedy.
          
        %p
          %strong The Broke Student Film Festival
          was founded in 2012 as a place where aspiring filmmakers and storytellers can display their work and receive constructive feedback from industry professionals.
        %p
          Lawrence Technological University in Southfield, Michigan has graciously hosted the Festival since the very start.  We thank Lawrence Tech for their amazing sponsorship and look forward to many more years of partnership.
        %p
          There is no feeling quite like seeing something that you made displayed for the enjoyment of others, and no venue quite as breathtaking as the silver screen. Most students never have the opportunity to sit in a dark theater, surrounded by their classmates and peers, and see a film that they poured their hearts and souls into receive its worldwide theatrical premiere. The goal and mission of
          %strong The Broke Student Film Festival
          is to inspire and encourage student filmmakers by giving them a safe, constructive, and glamorous forum to exhibit the fruits of all their hard work, passion and creativity.

      %hr/

      .winners
        = partial 'partials/winners_carousel'

      .schedule
        %h3 2014 Schedule
        %table.table.table-bordered.table-hover
          %tbody
            %tr
              %td{:colspan => "3" }
                %h4 Friday
            %tr
              %th Time
              %th Event
              %th Room
            %tr
              %td 7:00p-7:30p
              %td Anthony Lai Solo
              %td
            %tr
              %td 7:00p-8:00p
              %td BSFF Rewind Films/Past Winners/Q&A
              %td
            %tr
              %td 8:30p-11:00p
              %td Films in Exhibition
              %td S100
            %tr
              %td{:colspan => "3" }
                %h4 Saturday
            %tr
              %th Time
              %th Event
              %th Room
            %tr
            %tr
              %td 9:00a-10:00a
              %td Workshops 1
              %td S100/UTLC
            %tr
              %td 10:15a-11:15a
              %td Workshops 2
              %td S100/Lear/UTLC
            %tr
              %td 12:45p-1:45p
              %td Workshop 3
              %td S100/Lear
            %tr
              %td 12:00p-2:00p
              %td Meet & Greet
              %td UTLC Gallery
            %tr
              %td 2:00p-3:00p
              %td The Sarah Sherrard Band
              %td S100
            %tr
              %td 3:00p-6:00p
              %td Films in Competition A
              %td S100
            %tr
              %td 6:00-7:00p
              %td The Anthony Lai Band
              %td S100
            %tr
              %td 7:00-10:00p
              %td Films in Competition B
              %td S100
            %tr
              %td 10:00p-11:00p
              %td Narco Debut
              %td S100
            %tr
              %td{:colspan => "3" }
                %h4 Sunday
            %tr
              %th Time
              %th Event
              %th Room
            %tr
            %tr
              %td 2:30p-4:30p
              %td 14-Day Challenge Screening
              %td S100
            %tr
              %td 4:30p-5:15p
              %td Maribeth Olsen Soloist
              %td S100
            %tr
              %td 5:15p-6:00p
              %td Molly Mackler Soloist
              %td S100
            %tr
              %td 6:00p-8:00p
              %td Award Ceremony
              %td S100
        %hr/

        %table.table.table-bordered.table-hover
          %tr
            %td{:colspan => 3} Production Path Workshops
          %tr
            %td 9:00am-10:00am
            %td Lighting On and Off Set M-1 Studios - Mike Madigan
            %td UTLC Gallery
          %tr
            %td 10:15am-11:15am
            %td Cinematography on and Off Set - Matt Winne
            %td UTLC Gallery
          %tr
            %td 12:45pm-1:45pm
            %td Creating Professional Sound - Deiter Giese
            %td Lear Auditorium

          %tr
            %td{:colspan => 3} Post Production Workshops
          %tr
            %td 9:00am-10:00am
            %td How to Make the Perfect Demo Reel - Matt Zacharias
            %td S100 Auditorium
          %tr
            %td 10:15am-11:15am
            %td The Job of a Motion Graphics Artist - Adam Nelson
            %td S100 Auditorium
          %tr
            %td 12:45pm-1:45pm
            %td Editing Professionally - Michael Phaendtner
            %td S100 Auditorium
        %hr/


      .fourteen
        %h3 14-Day Film Challenge
        %p
          %strong What do you think you can do in two weeks?
        %p Students from all over the world will compete to make the best possible team in only fourteen days. At the beginning of the challenge, the teams will be given a common theme to inspire their creative process.

        %p
          %strong The 14-Day Film Challenge
          is a fun and rewarding way to test and discover your creative and technical chops.
          = link_to 'Team sign-ups begin on January 1st!', '/fourteen/'


      %hr/

      .volunteer
        %h3 We Need You!
        %p
          The
          %strong Broke Student Film Festival
          is only possible due to the army of volunteers that come together each year to create a successful event. Think you have what it takes to help make the dreams of student film makers come true?
          = link_to 'Sign up to volunteer!', '/contribute/volunteer'

      %hr/

      .sponsor
        %h3 See Those Logos Down There?
        %p
          Those are the amazing groups that work with the
          %strong Broke Student Film Festival
          to create an amazing experience for student film makers and people who love cutting edge film.
        %p
          These groups get in place advertising during the festival and their logos displayed on the homepage all year.
          = link_to 'Sign up to sponsor!', '/contribute/sponsor'




    .col-sm-4.right-rail
      = partial 'partials/sidebar'

= partial 'partials/footer'